
#mobile-header, #nav-button {
    height: .6in;
}

#mobile-header {
    width: 100vw;
    background-color: #007ABC;
}

#nav-button {
    width: .6in;
    background-color: #007ABC;
    background-color: white;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 5in) {
    
    /* Makes #mobile-header visible */
    #mobile-header {
        display: block;
        background-image:url(../img/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    #nav-button-container, nav {
        width: 75vw;
        transition: transform 0.33s;
    }
    
    nav {
        left: -75vw;
        top: 0;
        color: #333;
        margin: 0;
        position: fixed;
        height: 100vh;
        background-color: #007ABC;
    }
    
    nav ul {
        display: block;
        padding: 0;
        margin-left: 12pt;
        margin-top: 18pt;
    }
    
    nav ul li {
        width: 100%;
        
    }
    
    nav ul li a {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 24pt;
        text-align: left;
        padding: .5em 0;
        width: 100%;
    }
}