
#mobile-header, #nav-button {
    height: .5in;
}

#mobile-header {
    width: 100vh;
    background-color: black;
}

#nav-button {
    width: .5in;
    background-color: white;
}

@media (max-width: 5in) {
    
    #nav-button-container, nav {
        width: 300px;
        transition: transform 0.33s;
    }

    #mobile-header {
        display: block;
    }
    
    nav {
        left: -300px;
        top: 0;
        background-color: black;
        color: #333;
        margin: 0;
        position: fixed;
        height: 100vh;
    }
    
    nav ul {
        display: block;
        padding: 0;
        margin-left: 12pt;
        margin-top: 18pt;
    }
    
    nav ul li {
        width: 100%;
        
    }
    
    nav ul li a {
        text-decoration: none;
        color: white;
        display: block;
        font-size: 24pt;
        text-align: left;
        padding: .5em 0;
        width: 100%;
    }
}