/*================
Table of Contents
1. initial styles
2. universal styles
3. nav styles
4. homepage styles
5. about styles
6. team styles
7. work styles
8. contact styles
================*/

/*================
initial styles
================*/
body {
  margin: 0;
  font-family: "Metropolis";
}

@font-face {
  font-family: "Metropolis";
  src:url("fonts/metropolis/Metropolis-Regular.otf");
}

@charset "UTF-8";

/*================
universal styles BE CAREFUL
================*/

footer {
	margin: 0;
}

.navCover {
  background-color: #007ABC;
}

#button {
  text-align: center;
  background-color: #007abc;
  margin: auto;
  width: 100px;
  padding: 5px 35px;
  text-transform: uppercase;
  color: #fff;
  border: 5px solid #BBBAB2;
  transition: ease .5s;
}

#button:hover {
  transform: scale(1.1,1.1);
  transition: ease .5s;
}

#buttonLink {
  text-decoration: none;
}

footer p {
  background-color: #424040;
  margin: 0;
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  clear:left;
}

#pageTitleCover {
  background-image: url("../img/maxres.jpg");
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  background-size: cover;
  background-position: 0% 20%;
  background-attachment: fixed;
}

#pageTitleCover h1 {
  margin: 0;
}

/*================
nav styles DO NOT CHANGE
================*/

nav {
	margin-top:0;
	width:100%;
	position:relative;
}

.nav_ul {
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:30px 40px;
}

.nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
}

.nav_li a {
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

/*================
homepage styles
================*/

header {
	width:100%;
	height:100vh;
	background-image:url("../img/index2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
	height: 66%;
	padding-top: 3em;
}

#tagline{
	color: #ffffff;
	text-align: center;
	text-transform: lowercase;
	border-bottom: none;
	font-size: 18pt;
	vertical-align:text-bottom;
}

#about_index_heading {
  text-transform: uppercase;
  color: #007abc;
  text-align: center;
  font-family: "Metropolis";
}

#about_index_content {
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
  margin: 0% 20%;
  padding-bottom: 25px;
}

#featuredWorks {
  background-color: #4e9dcb;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#featuredWorks h1 {
  padding-top: 30px;
}

#featured_works_body a {
  text-decoration: none;
  color: #fff;
}

.featured_works {
  display: inline-block;
  margin: 3%;
  width: 300px;
  height: 300px;
  background-size: cover;
  border: 5px solid #fff;
  transition: 1s;
}

.featured_works h4 {
  opacity: 0;
  padding: 15px 0px;
  margin: 42% 30%;
  background-color: rgba(0,0,0,.6);
  border: 5px solid white;
}

#firstFeatured:hover .featured_work_h4 {
  opacity: 1;
  transition: ease 1s;
}

#secondFeatured:hover .featured_work_h4 {
  opacity: 1;
  transition: ease 1s;
}

#thirdFeatured:hover .featured_work_h4 {
  opacity: 1;
  transition: ease 1s;
}

#firstFeatured .featured_work_h4 {
  transition: ease 1s;
}

#secondFeatured .featured_work_h4 {
  transition: ease 1s;
}

#thirdFeatured .featured_work_h4 {
  transition: ease 1s;
}

#firstFeatured {
  background-image: url("../img/emerald.jpg");
}

#secondFeatured {
  background-image: url("../img/brianhead.jpg");
}

#thirdFeatured {
  background-image: url("../img/popart.png");
}


/*================
about styles
================*/

#aboutPageTitleCover {
  background-image: url("../img/index2.jpg");
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  background-size: cover;
  background-position: 0% 20% ;
}

#aboutPageTitleCover h1 {
  margin: 0;
}

#about_block{
  margin: 0 20%;
}
#about_block p{
  font-size: 13pt;
}

#mission_statement_headers{
  font-size: 40pt;
  text-align: center;
  color: #007abc;
}

#about_image{
  height: 250px;
  float: left;
  margin: 0 30px 30px 0;
}

#about_goals li{
  margin: 25px 0;
}

#about_goals h4{
  font-size: 18pt;
  color: #007abc;
}

#description{
  margin-top:30px;
}

/*================
team styles
================*/

#teamPageTitleCover {
  background-image: url("../img/maxres.jpg");
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  background-size: cover;
  background-position: 0% 20% ;
}

#teamPageTitleCover h1 {
  margin: 0;
}

#team_heading {
  text-align: center;
  color: #007abc;
  text-transform: uppercase;
}

#cyn,
#kev,
#ray,
#ama,
#bri {
	text-decoration:none;
}

#headmanagerBlock {
  text-align: center;
}

#departmanagerBlock {
  text-align: center;
}

.managers {
  padding: 25px;
  display: inline-block;
  text-align: center;
}

.depart_mana_pos {
  transition:all 0.4s ease-in-out;
  border:1px solid #000000;
  width:60%;
  margin:auto;
  padding:10px 5px 10px 5px;
	text-decoration: none;
}

.depart_mana_pos:hover {
  border:1px solid #007abc;
  background-color:#007abc;
  color:#ffffff;
}

.mana_pos {
  font-weight: bolder;
  text-transform: uppercase;
}

.managerPic {
  border: 10px solid white;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.teamBut {
  color:#000000;
}

#workers_block {
  margin: 0% 10% 5% 10%;
  text-align: center;
}

#usability_depart,
#marketing_depart,
#code_depart,
#graphic_depart,
#content_depart {
  display:none;
}

.block_headers {
  text-align: center;
  color: #007abc;
  font-size: 1.5em;
  text-transform: uppercase;
}

.block_intro {
  text-align: center;
  margin: 0% 20%;
}

.worker {
  text-align: center;
  display: inline-block;
  font-size: .8em;
}

.deptWorkerImg {
  border: 10px solid white;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

/*================
Work styles
================*/

#workWrapper {
  margin: 0 20%;
  margin-top: 5%;
}

.project {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectWrapper {
  display: inline-block;
}

#workWrapper h4 {
  font-size: 1.5em;
  font-weight: bolder;
}

#emerald {
  background-image: url("../img/emerald.jpg");
}

#popart {
  background-image: url("../img/popart.png");
}

#magCover {
  background-image: url("../img/magCover.png");
}

#typeProject {
  background-image: url("../img/typeProject.png");
}

#brianhead {
  background-image: url("../img/brianhead.jpg");
}

#colorSchemes {
  background-image: url("../img/colorSchemes.png");
}

#infographic {
  background-image: url("../img/infographic.png");
}

#sketchbook {
  background-image: url("../img/sketchbook.png");
}

#marketingLogo {
  background-image: url("../img/marketingLogo.jpg");
}

#anniversaryLogo {
  background-image: url("../img/anniversaryLogo.png");
}

/*================
contact styles
================*/
#contact-container {
    margin: 1em;
    text-align: center;
    min-width: 600px;
    height: 100vh;
}

#form-container {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    border: 1px solid #bbb;
    height: 100%;
}

#contact-form {
    text-align: left;
    margin-top: 2em;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 100vh;
}

#contact-form label {
    display: block;
    margin: 0 0 .5em 0;
}

#user_name, #user_email, #user_request {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    box-sizing: border-box;
}

#user_request {
    height: 140px;
}

#submit {
    width: initial;
}

#info {
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline-block;
}

#google-maps-container {
    
}

#map {
    width: 100%;
}

#chang_contact {
    text-align: left;
    padding: .5em;
    border: 1px solid #bbb;
    margin-bottom: 1em;
}

#chang_contact h2 {
    
}
