/*================
Table of Contents
1. initial styles
2. universal styles
3. nav styles
4. homepage styles
5. about styles
6. team styles
7. work styles
8. contact styles
================*/

/*================
initial styles
================*/
body {
  margin: 0;
  font-family: "Metropolis";
}

@font-face {
  font-family: "Metropolis";
  src:url("fonts/metropolis/Metropolis-Regular.otf");
}

@charset "UTF-8";

/*================
universal styles BE CAREFUL
================*/

.navCover {
  background-color: #007ABC;
}

#button {
  text-align: center;
  background-color: #007abc;
  margin: auto;
  width: 100px;
  padding: 5px 35px;
  text-transform: uppercase;
  color: #fff;
  border: 5px solid #BBBAB2;
  transition: ease .5s;
}

#button:hover {
  transform: scale(1.1,1.1);
  transition: ease .5s;
}

#buttonLink {
  text-decoration: none;
}

footer p{
  background-color: #424040;
  margin: 0;
  text-align: center;
  padding: 50px 0px;
	color: #fff;
}

/*================
nav styles DO NOT CHANGE
================*/

nav {
	margin-top:0;
	width:100%;
	position:relative;
}

.nav_ul {
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:30px 40px;
}

.nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
}

.nav_li a {
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

/*================
homepage styles
================*/

header {
	width:100%;
	height:100vh;
	background-image:url("../img/index2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
	height: 66%;
	padding-top: 3em;
}

#tagline{
	color: #ffffff;
	text-align: center;
	text-transform: lowercase;
	border-bottom: none;
	font-size: 18pt;
	padding-top: 30px;
}

#about_index_heading {
  text-transform: uppercase;
  color: #007abc;
  text-align: center;
  font-family: "Metropolis";
}

#about_index_content {
  text-align: center;
  font-size: 1.5em;
  margin: 0% 20%;
  padding-bottom: 25px;
}

#featuredWorks {
  background-color: #4e9dcb;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#featuredWorks h1 {
  padding-top: 30px;
}

#featured_works_body a {
  text-decoration: none;
  color: #fff;
}

.featured_works {
  display: inline-block;
  margin: 3%;
  width: 300px;
  height: 300px;
  background-size: cover;
  border: 5px solid #fff;
  transition: 1s;
}

.featured_works h4 {
  opacity: 0;
  padding: 15px 0px;
  margin: 42% 30%;
  background-color: rgba(0,0,0,.6);
  border: 5px solid white;
}

#firstFeatured:hover .featured_work_h4 {
  opacity: 1;
  transition: ease 1s;
}

#secondFeatured:hover .featured_work_h4 {
  opacity: 1;
  transition: ease 1s;
}

#thirdFeatured:hover .featured_work_h4 {
  opacity: 1;
  transition: ease 1s;
}

#firstFeatured .featured_work_h4 {
  transition: ease 1s;
}

#secondFeatured .featured_work_h4 {
  transition: ease 1s;
}

#thirdFeatured .featured_work_h4 {
  transition: ease 1s;
}

#firstFeatured {
  background-image: url("../img/pix/jeff_2.png");
}

#secondFeatured {
  background-image: url("../img/pix/dustin_1.png");
}

#thirdFeatured {
  background-image: url("../img/pix/andrew_2.png");
}

/*================
about styles
================*/

/*================
team styles
================*/

#teamPageTitleCover {
  background-image: url("../img/maxres.jpg");
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  background-size: cover;
  background-position: 0% 20% ;
}

#teamPageTitleCover h1 {
  margin: 0;
}

#team_heading {
  text-align: center;
  color: #007abc;
  text-transform: uppercase;
}

#headmanagerBlock {
  text-align: center;
}

.managers {
  padding: 50px;
  display: inline-block;
}

.mana_pos {
  font-weight: 900;
  text-transform: uppercase;
}

#johnson::before {
  
}
