/*================
initial styles
================*/
body {
  margin: 0;
  font-family: "Metropolis";
}

@font-face {
  font-family: "Metropolis";
  src:url("fonts/metropolis/Metropolis-Regular.otf");
}

h1{
  font-size: 3.6em;
  margin-bottom: 15px;
  color: #007abc;
}
@charset "UTF-8";

/*================
universal styles BE CAREFUL
================*/

#button {
  text-align: center;
  background-color: #007abc;
  margin: auto;
  width: 100px;
  padding: 5px 35px;
  text-transform: uppercase;
  color: #fff;
  border: 5px solid #BBBAB2;
}

#buttonLink {
  text-decoration: none;
}

footer p{
  background-color: #424040;
  margin: 0;
  text-align: center;
  padding: 30px 0px;
	color: #fff;
}

/*================
homepage styles
================*/

header {
	width:100%;
	height:100vh;
	background-image:url("../img/index2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
	height: 66%;
	padding-top: 3em;
}

#tagline{
	color: #ffffff;
	text-align: center;
	text-transform: lowercase;
	border-bottom: none;
	font-size: 18pt;
	padding-top: 30px;
}

#about_index_heading {
  text-transform: uppercase;
  color: #007abc;
  text-align: center;
  font-family: "Metropolis";
}

.intro_body {

}

#about_index_content {
  text-align: center;
  font-size: 1.5em;
  margin: 0% 20%;
  padding-bottom: 25px;
}

#featuredWorks {
  background-color: #4e9dcb;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#featured_works_heading{
  color: #fff;
}

#featuredWorks h1 {
  padding-top: 30px;
}

#featured_works_body a {
  text-decoration: none;
  color: #fff;

}

.featured_works {
  display: inline-block;
  margin: 3%;
  width: 300px;
  height: 300px;
  background-size: cover;
  border: 5px solid #fff;
  transition: 1s;
}

.featured_works h4 {
  visibility: hidden;
  padding: 15px 0px;
  margin: 42% 30%;
  background-color: rgba(0,0,0,.6);
  border: 5px solid white;
}

#firstFeatured:hover .featured_work_h4 {
  visibility: visible;
}

#secondFeatured:hover .featured_work_h4 {
  visibility: visible;
}

#thirdFeatured:hover .featured_work_h4 {
  visibility: visible;
}



#firstFeatured {
  background-image: url("../img/pix/jeff_2.png");
}

#secondFeatured {
  background-image: url("../img/pix/dustin_1.png");
}

#thirdFeatured {
  background-image: url("../img/pix/andrew_2.png");
}

/*================
nav styles DO NOT CHANGE
================*/

nav {
	margin-top:0;
	width:100%;
	position:relative;
}

.nav_ul {
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:30px 40px;
}

.nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
}

.nav_li a {
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

/*================
About Page
================*/

#about_header {
  width:100%;
  height:500px;
  background-image:url("../img/index2.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

#about_block{
  margin: 0 20%;
}

.title{
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 70px;
  font-size: 7em;
  font-weight: 600;
  letter-spacing: 3px;
}

.about_links{
  height: 220px;
}

.about_links a{
  position: relative;
  visibility: hidden;
  display: inline-block;
  font-size: 20pt;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 3px solid white;
  margin: 90px 100px;
}

#general_image, #code_image, #communi_image {
  background-image: url("../img/pix/jeff_2.png");
  background-repeat: no-repeat;
}

#general_image:hover .about_links a, #code_image:hover .about_links a, #communi_image:hover .about_links a {
  visibility: visible;
}

/*================
Contact Page
================*/
#contact-container {
    
}

#contact-form {
    
}

input {
    width: 100%;
}

google-maps-container {
    
}

.contact-card {
    
}